# Flask
ENV_FILE=.env.production
FLASK_APP=app:create_app
FLASK_DEBUG=0
APP_ENV=production
SECRET_KEY=<secret-key>
JWT_SECRET_KEY=<jwt-secret-key>

# Database
SQLALCHEMY_DATABASE_URI=mysql+pymysql://<user>:<password>@<mysql-endpoint>:3306/<database>

# AWS ElastiCache Redis
CACHE_TYPE=RedisCache
CACHE_REDIS_URL=rediss://:<elasticache-auth-token>@master.flask-lab-cache-dev.hu5l7h.use2.cache.amazonaws.com:6379/0
CACHE_DEFAULT_TIMEOUT=60
CACHE_KEY_PREFIX=flask-lab:
CACHE_REDIS_SOCKET_CONNECT_TIMEOUT=2
CACHE_REDIS_SOCKET_TIMEOUT=2
READINESS_CHECK_CACHE=true

# Private AWS S3 storage
STORAGE_BACKEND=s3
AWS_REGION=us-east-2
S3_BUCKET_NAME=flask-lab-andres-dev
S3_UPLOAD_PREFIX=files
S3_PRESIGNED_URL_EXPIRATION=3600

# Do not set AWS_PROFILE on EC2. Use an instance profile/IAM role instead.
