# Python cache
*.pyc
__pycache__/

# Flask + Python extras
instance/
.env*
!.env.example
!.env.development.example
!.env.production.example
*.log
logs/*
.cache/
.coverage
htmlcov/
uploads/

.DS_Store
